@import url('https://fonts.googleapis.com/css?family=VT323');

body,li,button,input {
    font-family: VT323, Courier;
    font-size: 18pt;
}

* {
    display: flex;
}

body {
    flex-direction: column;
    align-items: center;
    background-color: #888;
}

section.calculator {
    flex-direction: column;
    background-color: #ccc;
    padding: 12pt;
    max-width: 300pt;
    min-height: 100pt;
    border-radius: 6pt;
    box-shadow: 4pt 4pt 4pt rgba(0,0,0,0.3);
}

section.input {
    flex-direction: row;
    align-items: stretch;
}

button {
    background: #444;
    border: none;
    border-radius: 2pt;
    color: #ccc;
    margin: 4pt;
}

input[type=text] {
    background-color: #000;
    color: #0c0;
    border: none;
    border-radius: 2pt;
}

ol,ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

li {
    flex-direction: row;
}

ol {
    border: none;
    border-radius: 2pt;
    flex-direction: column-reverse;
    background: #000;
    color: #0c0;
    min-height: 100pt;
    margin: 6pt 0;
}

ol > li {
    border-top: 1px solid #030;
    margin: 1pt 4pt;
}

ol.error {
    color: red;
}